@model IEnumerable<EDMCrud.EDM.tblemployee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddEmp")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.emp_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.emp_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.f_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditEmp", new { id=item.emp_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.emp_id }) |
                @Html.ActionLink("Delete", "DeleteEmp", new { id=item.emp_id })
            </td>
        </tr>
    }

</table>
